.banner{
    position:relative;
    width:100%;
    top:0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size: cover;
}
.kuldeep-logo
{
      font-family: "Edu NSW ACT Cursive", cursive;
      
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:normal;
}
.banner .content
{
    max-width: 900px;
    text-align:left;
}
.banner .content h1
{
    font-size: 3rem;
    color: #fff;
    font-family: catsam;
}
.banner .content h2{
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    font-family: catsam;
}
.a span
{
    color: red;
    font-size: 100px;
    font-family: catsam;
}
.b span
{
    color: red;
    font-size: 45px;
    font-size: calibri;
}
.c span
{
    color: red;
    font-size: 80px;
    font-family: catsam;
}
.title{
    font-size: 35px;
    font-weight: 300;
    font-family: monospace;
}
.title span{
    color: #ff0157;
    font-size: 80px;
    font-family: catsam;
}
.title span:hover{
  font-family: catsam;
  border-bottom: 3px solid yellow;
}
.row{
    top:50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.row .col{
    position: relative;
    width:480px;
    margin: 30px 20px;
     padding: 30px; 
}
.row .col .box{
    position: relative;
    width:100%;  
    height: 100%;
}

.inner-menu{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}
h3
{
    font-family: calibri;
    font-size: 30px;
}
p.text-white 
{
    font-size: 20px;
    font-family:calibri;
}
.hobbies .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hobbies .content .inner-1{
    width: 250px;
    border:2px solid black;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
    margin: 15px;
}
.hobbies .content .inner-1 .box{
    position: relative;
    width:100%;
    height: 300px;
}
.hobbies .content .inner-1 .box img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
@media(max-width: 900px){
    .hobbies .content {
        gap: 16px;
        padding: 10px;
    }
    .hobbies .content .inner-1
    {
        max-width: 220px;
        min-width: 130px;
    }
}
@media(max-width: 600px)
{
    .hobbies .content {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 6px;
    }
    .hobbies .content .inner-1
    {
        width: 90vw;
        max-width: 98vw;
        margin:6px 0;
    }
    .hobbies .content .inner-1 .box 
    {
        height: 420px;
    }
}

.login{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.play{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
#one:hover
{
      
}
.card:hover
{
    border-radius: 15px;
    box-shadow: 0 0 15px red,0 0 15px red,0 0 20px red;
}
#two:hover
{
    transform:scale(0.9);
    transition: 0.7s ease-in-out;
    box-shadow: 5px 5px 30px black;
    margin-bottom: 30px;
    border-radius: 5px;
}

.contact-container
{
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 40px;
    max-width: 1000px;
}
.form-control
{
    border: 1px solid red;
    padding: 12px 15px;
    margin-bottom: 25px;
    transition: all 0.3s;
}
.form-control:focus
{
    border-color: black;
    box-shadow: 0 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}
.btn-submit
{
    font-weight: 600px;
    transition: all 0.3;
}
.btn-submit:hover 
{
    background-color: pink;
    transform: translateY(-2px);
}
.contact-info h3
{
    position: relative;
}
.contact-info h3:after 
{
    content: ; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background: white;
}
.social-icon a  
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    transition: all 0.3;
}
.social-icon a:hover  
{
    background-color: blue;
    color: white;
    transform: translateY(-3px);
}
@media(max-width: 991px)
{
    .contact-info
    {
        margin-top: 30px;
    }
}
@media(max-width: 450px)
{
    .social-icon a 
    {
        margin-right: 5px;
    }
}
.visit::before 
{
    content: ;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid blue;
    border-left: 2px solid blue;
    transition: 0.5s;
}
.visit::after 
{
    content: ;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    transition: 0.5s;
}
.visit:hover::before,.btn:hover::after
{
    width: 100%;
    height: 100%;

}
.visit:hover 
{
    transition: 0.5s;
    color: #fff;
    background:blue;
    box-shadow: 0 0 5px blue,0 0 4px blue,0 0 10px blue;
    border-radius: 5px ;
    transform: scale(1.1);
    letter-spacing: 0.2em;
}

.nav-item:hover
{
    border-bottom: 2px solid red;
    transform: scale(1.1);
    
}
.navbar-brand:hover 
{
    border-bottom: 2px solid yellow;
    transform: scale(1.1);
}
.navbar-brand
{
    font-family: catsam;
    font-style: italic;
}
.nav-item
{
    font-family: catsam;
}
.img-thumbnail
{
    border: 2px solid red;
    color: red;
}

.a 
{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: text 7s steps(200)infinite;
    border-right: 3px solid yellow;
    text-shadow: 2px 3px 4px black;
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 16ch;
    }
}
.b
{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: text 7s steps(200)infinite;
    border-right: 3px solid yellow;
    text-shadow: 2px 3px 4px black;
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 16ch;
    }
}
.c
{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: text 7s steps(200)infinite;
    border-right: 3px solid yellow;
    text-shadow: 2px 3px 4px black;
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 16ch;
    }
}

.z::before 
{
    content: ;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    transition: 0.5s;
}
.z::after 
{
    content: ;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
    transition: 0.5s;
}
.z:hover::before,.btn:hover::after
{
    width: 100%;
    height: 100%;
    letter-spacing: 0.1em;

}
.z:hover 
{
    transition: 0.5s;
    color: black;
    background:yellow;
    box-shadow: 0 0 10px yellow,0 0 20px yellow,0 0 40px yellow;
    border-radius: 10px ;
    letter-spacing: 0.1em;
}
.n 
{
    font-family: poppins;
    font-weight: bold;
    text-align: center;
}
.h 
{
    text-align: center;
    font-family: calibri;
}


.wrapper{
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10,99, 169,0.16),
    -10px -10px 10px -1px rgba(255,255,255,0.7);
    padding: 40px 30px;
    border-radius: 10px;
    margin: 15px;
}
.wrapper:hover
{
   
    border-radius: 20px;
    border-right: 2px solid red;
    border-left: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    box-shadow: 0 0 20px red;
    transform: scale(0.9);
    transition: 0.9s;
}

.wrapper h3{
    font-size: 30px;
    text-align: center;
    font-family: poppins;
    font-weight: 540;

}


.skills-wrapper{
    padding: 0 20px;
}

.skills-wrapper .bar{
    margin: 20px 0;
}

.skills-wrapper .bar .info {
    margin-bottom: 10px;
}

.skills-wrapper .bar .info span{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: catsam;
    font-size: 15px;
    font-weight: 600;
}

.skills-wrapper .bar .progress-bar{
    width: 100%;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.skills-wrapper .bar .progress-bar span{
    position: absolute;
    height: 100%;
    border-radius: 10px;
    transform: scale(0);
    background-color:red;
    animation: animate 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

@keyframes animate {
    100%{
        transform: scale(1);
    }
}


.skills-wrapper .bar .progress-bar span.html{
    width: 90%;
}

.skills-wrapper .bar .progress-bar span.css{
    width: 79%;
}


.skills-wrapper .bar .progress-bar span.boot{
    width: 85%;
}

.skills-wrapper .bar .progress-bar span.lan{
    width: 70%;
}
.t{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: #fff;
    border-radius: 70px;
    width: 100%;
}
.row:hover  
{
    box-shadow: ;
}
